* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0F7FA;
    /* background: url("./assets/backgroundImage.png"); */
    background-attachment: fixed;
}


