* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0F7FA;
}

.outerCon1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 5rem; */
    /* color: white; */
    /* background-color: black; */
}

.innerCon1 {
    color: #117154;
    width: 100%;
    /* background-color: black; */
    /* background-color: #b5f7e3; */
    border-top: 2px solid #2ED6A4;
    border-bottom: 2px solid #2ED6A4;
    border-radius: 10px;
    height: 85vh;
    margin-top: 5rem;
    padding: 2rem;
}

.innerCon2 {
    border-radius: 10px;
    background-color: #a5e3d4;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.name {
    margin: 5px;
}

.date {
    opacity: 0.5;
}

.conheader {
    width: 400px;
    display: flex;
    align-items: center;
    /* background-color: #f7b5c9; */
    /* background-color: #2c3e50; */
    /* background-color: #1dd19b; */
    /* background-color: #b5f7e3; */
    /* background-color: #a5e3d4; */
    /* background-color: #b5f7f7; */
    /* background-color: #b5f7d4; */
    /* background-color: #f78bb5; */
    /* background-color: #10866e; */
    /* background-color: #004d40; */
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
}

.locationName {
    position: relative;
    left: 11.4rem;
}

.location {
    position: relative;
    left: 11.5rem;
}

.confooter {
    display: flex;
    align-items: center;
}

.message {
    margin-left: 2rem;
}

.bookmark {
    margin-left: 18rem;
}



.container {
    color: white;
    padding-top: 5rem;
    padding-left: 5rem;
}


.weui--location-outlined {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%231dd19b' fill-rule='evenodd' d='m12.065 21.243l-.006-.005zm.182-.274a29 29 0 0 0 3.183-3.392c2.04-2.563 3.281-5.09 3.365-7.337a6.8 6.8 0 1 0-13.591 0c.085 2.247 1.327 4.774 3.366 7.337a29 29 0 0 0 3.183 3.392q.166.15.247.218zm-.985 1.165S4 16.018 4 10a8 8 0 1 1 16 0c0 6.018-7.262 12.134-7.262 12.134c-.404.372-1.069.368-1.476 0M12 12.8a2.8 2.8 0 1 0 0-5.6a2.8 2.8 0 0 0 0 5.6m0 1.2a4 4 0 1 1 0-8a4 4 0 0 1 0 8' stroke-width='.8' stroke='%231dd19b'/%3E%3C/svg%3E");
}

.majesticons--heart-line {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%231dd19b' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17 4c-3.2 0-5 2.667-5 4c0-1.333-1.8-4-5-4S3 6.667 3 8c0 7 9 12 9 12s9-5 9-12c0-1.333-.8-4-4-4'/%3E%3C/svg%3E");
}

.tabler-message {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%231dd19b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.9' d='M8 9h8m-8 4h6m4-9a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3h-5l-5 3v-3H6a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3z'/%3E%3C/svg%3E");
}

.famicons--bookmark-outline {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%231dd19b' stroke-linecap='round' stroke-linejoin='round' stroke-width='45' d='M352 48H160a48 48 0 0 0-48 48v368l144-128l144 128V96a48 48 0 0 0-48-48'/%3E%3C/svg%3E");
}




.categories {
    color: #117154;
    width: 100%;
    height: 4rem;
    border: 1px solid rgb(28, 237, 185);
    position: fixed;
    background-color: #E0F7FA;
    z-index: 5;
    padding-left: 7rem;
    display: flex;
    align-items: center;
}

.searchCon {
    width: 17rem;
    height: 2rem;
    position: absolute;
    right: 10rem;
    /* top: 1rem; */
    border: 2px solid rgb(28, 237, 185);
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
}

#searchInput {
    all: unset;
    width: 15rem;
    height: 100%;
}

#searchInput::placeholder {
    color: #117154;
    font-style: italic;
    font-size: 20px;
    opacity: 0.5;
}

.lets-icons-search-alt-light {
    border: 2px solid rgb(28, 237, 185);
    border-radius: 10px;
    background-color: #b5f7e3;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%231dd19b' stroke-width='1.8'%3E%3Ccircle cx='11' cy='11' r='6'/%3E%3Cpath stroke-linecap='round' d='M11 8a3 3 0 0 0-3 3m12 9l-3-3'/%3E%3C/g%3E%3C/svg%3E");
}


.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding-top: 5rem;
    padding-left: 7rem;
}

.cartCon {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 10px;
}

.cart {
    width: 200px;
    height: 300px;
    background-color: #a5e3d4;
    border: 1px solid rgb(28, 237, 185);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cartDetail {
    color: #117154;
    width: 185px;
    height: 100px;
    background-color: #b5f7e3;
    border-radius: 10px;
    padding: 10px;
}